/*

Stylesheet
----------

Project:	Walnut Creek Church Network Site Design
Date:		07/2013

----------

Table of Contents
-----------------

1. Core
2. Layout
3. Module
4. Theme
5. State

----------

Directions: Use either the drupal prefixed plugins or the no prefix plugins. Don't use both
as there is a lot of overlap between the two.

----------

*/

// Pull in all variables
@import "vars.less";

/*
1. Core
-------
*/

// pull in core, type, and form plugins
@import "plugins/core.less";
@import "plugins/type.less";

body {
	padding:1em;
	background-color:@background;
	color:@color;
}

/*
2. Layout
---------
*/


/*
3. Module
---------
*/

// pull in the various module plugins
@import "plugins/drupal";

/*
4. Theme
--------
*/

// Basic for image layout
img {
	max-width:100%;
	height:auto;
}


/*
5. State
--------
*/

// pull in classes
@import "plugins/classes.less";

/* Clearfixed styles to be included elsewhere. */
.clearfixed {
	content: " ";
	display: block;
	clear: left;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	.clearfixed;
}