/*

Stylesheet
----------

Project:	Rewdy 5
Title:		Primary Stylesheet
Date:		00/00/2013

----------

Table of Contents
-----------------

1. Core
2. Layout
3. Module
4. Theme
5. State

----------

*/

// Pull in all variables
@import "vars.less";

/*
1. Core
-------
*/

// pull in core, type, and form plugins
@import "plugins/core.less";
@import "plugins/type.less";
@import "plugins/drupal-forms";

body {
	background:#e6e6e6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoAgMAAAAUDpWSAAAAA3NCSVQICAjb4U/gAAAACVBMVEXl5eXn5+fp6elDLj/zAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHnRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1LjGrH0jrAAAAFnRFWHRDcmVhdGlvbiBUaW1lADEwLzI1LzEzH3skVwAAAdNJREFUKJEdUkEKBDEIU9C7gv2PBb1baP//lc0sFDp1otFEOkXPjEQjh5cRUQ8xe94zRk+GFo0p7swrI+lBrlFKpEBOslTTlO00xIkeU7m+FkBCOHkOgpfAQS+ZdcrBklqIL+pk703SXPbS86GERKtJTQN39kLpRc7SSKVNVtkUuAD80MPmqWKLaL8+eLP45qylXOX4kUrqxGFqZcKbfZ9Mp6uST2q92ph3Cds2mpGbNahQlXjW7iReaGQ4NcUJh0U+ZjER9RC1vPQJkoDlPkg0gWzhtWjj3IiD8mrGyCqIlgRFSXUxoSHrjcEY4wkTdDHkcx+ngS10jj1O6S7zylXBbpTo8l5o/ViOC6GnRzqwSMjpM+xGSdUFzQIetoyBMdh4Cd2zezb4oNSCG+rmZLPmlkUL17a1nRxeNWpUsS4Lo30svy3JJV4YBTakcm65EOSGgjC3pSul6Q2wczvQIQb4CtrfRKYneelSCdXo4G/rsAMbTYzEJxlo5VOIBOL7QNEIuOf5zTdhz1AR3YnOt2iPxtHZxYqYumOl4SF0YH1YlkIsTHTPhcADp6JrgrnRn7/3D45CNSzCzmJOlwS/wg2e6LaK81k+SX3hNtPDVOPxffP6AVtXaW+wsT+lAAAAAElFTkSuQmCC); // footer bg color
	color:#999; // footer text color
}
#jump_nav a {
	display:block;
	padding:0.5em;
	background-color:@accent;
	position: fixed;
	z-index:1000;
	top:-5em;
	left:40%;
	width:20%;
	text-align:center;
	font-family:@font;
	font-weight:bold;
	color:#fff;
}
#jump_nav a:focus {
	top:0;
}

/*
2. Layout
---------
*/

// pull in grid
@import "plugins/grid.less";

// Preamble
#preamble {
	background-color:#fff;
	border-bottom:1px solid @linecolor;
	color:darken(@background, 40%);
	font-family:@sans;
	font-size:0.9em;
	text-transform: uppercase;
	padding:0.2em 0;
	p, ul {
		margin-bottom:0;
	}
	a {
		color:#666;
		&:hover {
			color:@accent;
		}
	}
}

// Wrapper
#wrapper {
	background-color:@background;
	color:@color;
}

header#site_header {
	background-color:#333;
	background:	url(../img/shear-curtain.png) repeat-x center top,
				url(../img/banners/city-night.jpg) no-repeat center center;
	padding:15% 0;
	max-height:40%;
}

// Main Content Row
#main-row {
	padding:3em 0;
}

header#page-header {
	position:relative;
}

// Footer
footer {
	border-top:1px solid @linecolor;
	padding:2em 0;
	font-family:@sans;
	a {
		color:@color;
		&:hover {
			color:@pop;
		}
	}
}

/*
3. Module
---------
*/

// flippin' site title
.flip_area {
	width: 300px;
	height: 90px;
	position: relative;
	margin: 0 auto;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}
#card {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	&:hover {
		-webkit-transform: rotateX( 180deg );
		-moz-transform: rotateX( 180deg );
		-o-transform: rotateX( 180deg );
		transform: rotateX( 180deg );
	}
	.face {
		display: block;
		height: 100%;
		width: 100%;
		text-align: center;
		position: absolute;
		line-height: 90px; // matches container height
		font-size:20px;
		color:#333;
		text-transform:uppercase;
		background-color:#fff;
		border:2px solid #333;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.front {
		font-weight:700;
		letter-spacing:0.6em
	}
	.back {
		font-weight:300;
		-webkit-transform: rotateX( 180deg );
		-moz-transform: rotateX( 180deg );
		-o-transform: rotateX( 180deg );
		transform: rotateX( 180deg );
	}
}

// pull in the various module plugins
@import "plugins/drupal-menu";
@import "plugins/drupal";


// Basic page parts
.submitted {
	margin:0 auto;
	max-width:50%;
	text-align:center;
	color:#999;
	font-size:1em;
	font-family:@sans;
	text-transform:uppercase;
	line-height:1.45em;
	margin-bottom:@lineheight;
	background-color:@lightaccent;
	a {
		color:#888;
	}
}

@import "plugins/prism.less";

/*
4. Theme
--------
*/

.block-link a {
	display:block;
	padding:0.75em 0.5em;
	text-align:center;
	color:#fff;
	background: @accent;
	text-decoration:none;
	border: solid darken(@accent, 10%);
	border-width:0 0 2px 0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	&:active {
		border-width:0;
		position:relative;
		margin-top:2px;
	}
}
.node-teaser {
	border-top:1px solid @linecolor;
	padding-top:@lineheight;
}
.field-name-post-date {
	margin-bottom:@lineheight;
	text-align:center;
	color:@lighttext;
}

.project,
.lab {
	margin-bottom:2em;
	.card {
		padding:0.5em 1em;
		border:2px solid @color;
		background-color:#fff;
		p:last-child {
			margin-bottom:0;
		}
	}
	h2 {
		font-size:1em;
		font-weight:700;
		text-align:center;
	}
	&.g4:nth-child(3n+1) {
		clear:left;
	}
}

// labs
.field-name-lab-embedded {
	padding:1em;
	margin-bottom:@lineheight;
	border:1px solid @linecolor;
}

#comments h2 {
	text-align:center;
}

// Basic for image layout
img {
	max-width:100%;
	height:auto;
}

i[class^=icon] {
	margin-right:0.2em;
}

/*
5. State
--------
*/

// pull in classes
@import "plugins/classes.less";
